<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <arg name="model" default="$(find openvino_ros)/open_model_zoo_devel/demos/object_detection_demo/python/yolox-tiny/FP32/yolox-tiny.xml" />
    <arg name="at" default="yolox" />
    <arg name="label" default="$(find openvino_ros)/open_model_zoo_devel/data/dataset_classes/coco_80cl.txt" />
    
    <node pkg="openvino_ros" type="object_detection_demo_ros.py" name="vino_detect_node" output="screen" args="-m $(arg model) -at $(arg at) --labels $(arg label)">
        <!-- <remap from="/usb_cam/image_raw" to="/usb_cam/image_raw"/> -->
        <!-- <remap from="image" to="/usb_cam/image_raw/compressed"/> -->
    </node>
</launch>